/*General*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-family: "Poppins", "Arial", "san-serif";
    font-size: 20px;
    font-weight: 300;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.box{
    padding: 1%;
}

span{
    color: #247bd1;
}

/*H El and H El Specifics*/

h1, h2, h3{
    font-weight: 300;
    letter-spacing: 1px;
}

h1{
    margin-top:0;
    color: #fff; 
    margin-top:0;
    margin-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
    word-spacing: 2px;
}

h2{
    font-size: 160%;
    word-spacing: 2px;
    margin-bottom: 30px;
    word-spacing: 2px;
}

.sub-header{
margin: 0;
padding: 0%;
}

.scents-section h2{
    color:#fff;
    background-color:#247bd1;
    margin: 0%;
    padding: .5%;
}

.price-section h2{
    margin: .5%;
    padding:2%;
    text-align: center;
    color: #247bd1;
    font-size: 200%;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 15%;
}

/*PARAGRAPHS*/

.section-features .long-copy{
    margin-bottom: 20px;
}

.long-copy{
    line-height: 145%;
    width: 70%;
}

.box p{
    font-size: 80%;
    line-height: 145%;
}

/*ICONS*/

.icon-big{
    font-size: 230%;
    display: block;
    color: #247bd1;
    margin-bottom: 10px;
    margin-right: 15%;
    text-align: center;
}

/*Section and Sections Specifics*/

section{
    padding:0;
}

.section-features{
    background-color: #ececec;
    padding: 4% 0%;
}

.scents-section{
    padding: 0%;
}

.price-section{
    background-color: #ececec;
    display: block;
}

/*Buttons*/

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 7px 15px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #247bd1;
    border: 1px solid #247bd1;
    margin-right: 15px;
}

.btn-full:hover,
.btn-full:active{
    background-color: #2c3e50;
    border:1px solid #2c3e50;
    margin-right: 15px;
}

/*Header*/

.logo{
    height: 100px;
    float: left;
    width: auto;
    margin-top:15px;
    padding: 0px;
    background-size: contain;
}

/*Navbar*/

.main-nav{
    float: right;
    list-style: none;
    padding-top:20px;
}

.main-nav li{
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding:2px 0px;
}

/*NAVBAR ANIMATION*/
.main-nav li a:before,
.main-nav li a:after{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.2s;
    }

.main-nav li a:before{
    left: 0px;
    top: 0px;
}

.main-nav li a:after{
    right: 0px;
    bottom: 0px;
}

.main-nav li a:hover:before,
.main-nav li a:hover:after{
    opacity: 1;
    width: 100%;
}

/*Background Image*/

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./IMG/FLIPPED.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
}

.welcome-message{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Scent Showcase*/

.popular-scents{
    list-style: none;
    width:100%;
    display: flex;
}
.popular-scents li{
    width: 25%;
}

.scent-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}

.scent-photo img{
    opacity: .7;
    width: 100%;
    height: auto;
    transform: scale(1.16);
    transition: transform 0.6s , opacity 0.6s;
}

.scent-photo img:hover{
    transform: scale(1.03);
    opacity: 0.9;
    }


/*////////////////////////////////////Price Tables////////////////////////////////////////////*/

.price-tables{
    color:#247bd1;
    flex-direction: row;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40%;
    padding-bottom: 2%;
}

.table{
    background-color: #fff;
    box-sizing: border-box;
    padding: 2%;
    width: 30%;
    box-shadow: 2px 2px 2px 2px rgba(95, 94, 94, 0.3);
}

#box-icon-1{
    margin-left:40px;
    color:#247bd1;
}

#box-icon-2{
    margin-left:40px;
    color:#862974;
}

#box-icon-3{
    margin-left:40px;
    color:#f13c3cfb;
}

.table h5{
    font-size: 150%;
    padding:3%;
}

.table h4{
    font-size:120%;
}

.table p{
    padding: 3%;
}

.table li{
    font-size: 85%;
    list-style-type: none;
    padding:3%;
    border-bottom: solid .5px rgb(99, 96, 96);
}

.table-btn{
    padding:5%;
}